<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="X-Content-Type-Options" content=""/>
    <link rel="stylesheet" href="/webix/skins/clouds.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/leaflet.css"/>
    <script src="/webix/webix_debug.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/persian-datepicker/js/persian-date-0.1.8.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/persian-datepicker/js/persian-datepicker-0.4.5.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/js/jquery.sha1.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/leaflet.js" type="text/javascript" charset="utf-8"></script>
    <script th:inline="javascript">
        var main_content = {};
        /*<![CDATA[*/
        var csrf_token = [[${_csrf.token}]];
        var right_menu_base_info = [];

        if ([[${#httpServletRequest.isUserInRole("ROLE_WEATHER_STATION_MANAGER")}]]) {
            right_menu_base_info.push({
                id: 1,
                "name": "مدیریت ایستگاه های هواشناسی",
                href: "/base-info/station/",
                icon: "id-badge"
            });
        }
        if ([[${#httpServletRequest.isUserInRole("ROLE_EVENTS_MANAGER")}]]) {
            right_menu_base_info.push({
                id: 2,
                "name": "مدیریت پدیده ها",
                href: "/base-info/phenomena/",
                icon: "id-badge"
            });
        }
        if ([[${#httpServletRequest.isUserInRole("ROLE_UNITS_MANAGER")}]]) {
            right_menu_base_info.push({id: 3, "name": "مدیریت یگان ها", href: "/base-info/unit/", icon: "id-badge"});
        }
        if ([[${#httpServletRequest.isUserInRole("ROLE_USER_MANAGER")}]]) {
            right_menu_base_info.push({id: 4, "name": "مديريت کاربران", href: "/base-info/user/", icon: "id-badge"});
        }
        if ([[${#httpServletRequest.isUserInRole("ROLE_PROVINCES_MANAGER")}]]) {
            right_menu_base_info.push({
                id: 5, "name": "مدیریت شهرستان ها", href: "/base-info/province", icon: "users"
            });
        }
        if ([[${#httpServletRequest.isUserInRole("ROLE_SECURITY")}]]) {
            right_menu_base_info.push({
                id: 6, "name": "مديريت تنظیمات امنیتی", href: "#", icon: "users"
            });
        }

        var right_menu_usage = [
            {id: 1, "name": "نمایش نقشه", href: "/map/", icon: "id-badge"},
            {id: 2, "name": "نمایش جدول", href: "/grid/view", icon: "id-badge"},
            {id: 3, "name": "دریافت اطلاعات", href: "/update/", icon: "id-badge"},
            {id: 4, "name": "بولتن", href: "/bulletin/view", icon: "id-badge"},
            {id: 5, "name": "D-Factor", href: "/defactor/view", icon: "id-badge"},
            {id: 6, "name": "نمایش تصاویر هواشناسی", href: "#"/*, href: "/dfactor/"*/, icon: "id-badge"},
            {id: 7, "name": "ارسال پیام", href: "#"/*, href: "/messages/"*/, icon: "id-badge"}
        ];

        var right_menu_report = [
            {id: 1, "name": "مشاهده ورود و خروج کاربران", href: "#"/*, href: "/report/login/"*/, icon: "id-badge"},
            {id: 2, "name": "گزارشات", href: "#", icon: "id-badge"}
        ];

        var right_menu =

        {
            header: "<span style='font-size: large'>نمایش منو</span>",
            width: 300,
            body: {
                width: 300,

                multi: false, rows: [
                    {
                        header: "<span class='menu-list-header'>اطلاعات پايه</span>", body: {
                        rows: [
                            {
                                view: "list",
                                template: "<a href='#href#' class='menu-list-item'>#name#</a>",
                                yCount: right_menu_base_info.length,
                                data: right_menu_base_info,
                                onClick: {
                                    link: function (e, id) {
                                        if (this.getItem(id).href !== undefined) {
                                            window.location.href = this.getItem(id).href;
                                        }
                                    }
                                }
                            }
                        ]
                        ,
                        elementsConfig: {
                            labelWidth: 100, labelAlign: "right"
                        }
                    }
                    },
                    {
                        header: "<span class='menu-list-header'>کاربری</span>", body: {
                        rows: [
                            {
                                view: "list",
                                template: "<a href='#href#' class='menu-list-item'>#name#</a>",
                                yCount: right_menu_usage.length,
                                data: right_menu_usage,
                                onClick: {
                                    link: function (e, id) {
                                        if (this.getItem(id).href !== undefined) {
                                            window.location.href = this.getItem(id).href;
                                        }
                                    }
                                }
                            }
                        ]
                        ,
                        elementsConfig: {
                            labelWidth: 100, labelAlign: "right"
                        }
                    }
                    }
                    ,

                    {
                        header: "<span class='menu-list-header'>گزارشات</span>", body: {
                        rows: [
                            {
                                view: "list",
                                template: "<a href='#href#' class='menu-list-item'>#name#</a>",
                                yCount: right_menu_report.length,
                                data: right_menu_report,
                                onClick: {
                                    link: function (e, id) {
                                        if (this.getItem(id).href !== undefined) {
                                            window.location.href = this.getItem(id).href;
                                        }
                                    }
                                }
                            }
                        ]
                        ,
                        elementsConfig: {
                            labelWidth: 100, labelAlign: "right"
                        }
                    }
                    }
                    ,
                    {}
                ]
            }
        };

        /*]]>*/
    </script>
</head>
<body>

</body>
</html>