
<html lang="fa" th:dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="menu">
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src="assets/images/logo.png"/>
            این چند؟
        </a>
        <a href="#" class="item">صفحه اصلی</a>
        <div class="ui simple dropdown item">
            منو <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="#">آیتم</a>
                <a class="item" href="#">آیتم</a>
                <div class="divider"></div>
                <div class="header">جدا کننده</div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    منوی تو در تو
                    <div class="menu">
                        <a class="item" href="#">آیتم</a>
                        <a class="item" href="#">آیتم</a>
                    </div>
                </div>
                <a class="item" href="#">آیتم</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>