* {
    font-family: GisFont, serif;
}

.ui-widget-header {
    border: 1px solid #1b629c !important;
    background: #1b629c !important;
}

.webix_layout_form {
    margin-right: 17px;
    margin-left: inherit;
}

.webix_inp_label {
    float: right;
}

.webix_el_box > input {
    direction: rtl;
    text-align: right !important;
}

.webix_column {
    float: right;
    position: initial;
}

.webix_list_item .webix_badge {
    float: left;
}

.webix_list_item {
    text-align: right;
    float: none;
}

.webix_arrow_icon {
    left: 15px;
    right: inherit;
}

.webix_message_area {
    left: 5px;
}

.custom-menu-section-header.custom-menu-section-header-main {
    background-color: #3498DB;
    color: white;
}

.custom-menu-section-header {
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
    border-radius: 4px;
}

.webix_menu {
    margin-left: inherit !important;
}

a.webix_list_item {
    color: #666;
}

.webix_view.webix_accordionitem.vertical, .webix_layout_space > .webix_layout_space { /*really cool or really stupid*/
    margin-right: 10px;
}

.webix_cell, .webix_hcell {
    text-align: center;
}

.align-center {
    text-align: center;
}

.menu-list-item {
    text-decoration: none;
    color: inherit;
    font-family: Mitra, Tahoma, serif;
    font-size: 20px;
}

.menu-list-header {
    text-decoration: none;
    color: inherit;
    font-family: Mitra, Tahoma, serif;
    font-size: 20px;
    font-weight: bold;
}

.webix_view.webix_accordionitem.vertical {
    margin-right: 0;
}

.webix_dataview_item {
    float: right !important;
}

.main_title {
    margin-right: 20px;
    color: white;
    font-family: Titr, serif;
    font-size: 20px;
    font-weight: bold;
}

.time, .time-container {
    margin-right: 20px;
    color: black;
    font-family: Titr, Tahoma, serif;
    font-size: 20px;
    font-weight: bold;
}

.time-gmt-container {
    margin-left: 20px;
    float: left;
}

.footer_title {
    margin-right: 20px;
    color: white;
    font-family: Mitra, Tahoma, serif;
    font-size: 13px;
    font-weight: bold;
}

.success-message {
    color: green;
    font-size: 16px;
}

.error-message {
    color: red;
    font-size: 16px;
}

.defactor-table {
    width: 100%;
    text-align: center;
}

.defactor-table th, .defactor-table td {
    border: solid 1px;
}

.defactor-title {
    text-align: right;
    direction: rtl;
    font-size: 15px;
    font-weight: 700;
}

.transparent-background {
    background: transparent;
}

.welcome-main-content {
    background: url("/images/s300.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.time-and-marquee-section {
    background: #66a6ff;
}

.message-text {
    font-family: B Nazanin,Tahoma,serif;
    font-size: 15px;
    font-weight: bold;
}

.message-subject {
    font-family: Titr, Tahoma, serif;
    font-size: 17px;
    font-weight: bold;
}

.has-cursor-pointer {
    cursor: pointer;
}

.config-item {
    color: #e2e2a7;
}

.blinking {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@font-face {
    font-family: GisFont;
    src: url(../fonts/Far_BadrBold.ttf) format("truetype");
    font-style: normal
}