* {
    font-family: B Mitra;
}

.ui-widget-header {
    border: 1px solid #1b629c !important;
    background: #1b629c !important;
}

.webix_layout_form {
    margin-right: 17px;
    margin-left: inherit;
}

.webix_inp_label {
    float: right;
}

.webix_el_box > input {
    direction: rtl;
    text-align: right !important;
}

.webix_column {
    float: right;
    position: initial;
}

.webix_list_item .webix_badge {
    float: left;
}

.webix_list_item {
    text-align: right;
    float: none;
}

.webix_arrow_icon {
    left: 15px;
    right: inherit;
}

.webix_message_area {
    left: 5px;
}

.custom-menu-section-header.custom-menu-section-header-main {
    background-color: #3498DB;
    color: white;
}

.custom-menu-section-header {
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
    border-radius: 4px;
}

.webix_menu {
    margin-left: inherit !important;
}

a.webix_list_item {
    color: #666;
}

.webix_view.webix_accordionitem.vertical, .webix_layout_space > .webix_layout_space { /*really cool or really stupid*/
    margin-right: 10px;
}

.webix_cell, .webix_hcell {
    text-align: center;
}

.align-center {
    text-align: center;
}

.menu-list-item {
    text-decoration: none;
    color: inherit;
    font-family: "B Nazanin";
    font-size: 20px;
}

.menu-list-header {
    text-decoration: none;
    color: inherit;
    font-family: Mitra;
    font-size: 20px;
    font-weight: bold;
}

.webix_view.webix_accordionitem.vertical {
    margin-right: 0;
}

.webix_dataview_item {
    float: right !important;
}

.main_title {
    margin-right: 20px;
    color: white;
    font-family: Titr;
    font-size: 20px;
    font-weight: bold;
}

.footer_title {
    margin-right: 20px;
    color: white;
    font-family: "B Mitra";
    font-size: 13px;
    font-weight: bold;
}

.success-message {
    color: green;
    font-size: 16px;
}

.error-message {
    color: red;
    font-size: 16px;
}

.defactor-table {
    width: 100%;
    text-align: center;
}
.defactor-table th , .defactor-table td {
    border: solid 1px;
}

.defactor-title {
    text-align: right;
    direction: rtl;
    font-size: 15px;
    font-weight: 700;
}

.transparent-background {
    background: transparent;
}

.welcome-main-content {
    background: url("/images/damavand.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}