<!DOCTYPE html  >
<html th:dir="rtl" th:lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="partials/header :: head"></th:block> /*/-->
    <title>مديريت فايل ها</title>
    <style>
        .error-container {
            text-align: center;
            font-size: large;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div id="error-page-container">
    <div>
        خطا : درخواست قابل اجرا نيست.
    </div>
    <br>
    <br>
<div class="error-container" th:switch='${#httpServletRequest.getAttribute("javax.servlet.error.status_code")}' >
    <div th:case="404">
        صفحه مورد نظر يافت نشد.
    </div>
    <div th:case="403">
        صفحه مورد نظر يافت نشد.
    </div>
</div>

</div>
<script th:inline="javascript">
    var main_content =
    {
        rows: [
            {
                body: {content: "error-page-container"}
            }
        ]

    };

</script>

<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->
</body>
</html>