<html xmlns:th="http://www.thymeleaf.org">
<head th:dir="rtl" lang="fa" th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="X-Content-Type-Options" content=""/>
    <link rel="stylesheet" th:href="@{/webix/skins/metro.css}" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/leaflet.css}"/>
    <script th:src="@{/webix/webix_debug.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/jquery-1.12.4.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/jquery-ui.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/persian-datepicker/js/persian-date-0.1.8.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/jquery.sha1.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/leaflet.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/moment.min.js}" type="text/javascript" charset="utf-8"></script>
    <title>ورود به سیستم</title>
    <style>
        .webix_layout_space {
            background: url("/images/sky-clouds.jpg") no-repeat;
            background-size: cover;
        }
        .webix_layout_wide {
            background: transparent;
        }
        .webix_el_text input {
            background-color: #9fdbe3;
            color: #000;
        }
    </style>
</head>

<body style="direction: rtl">
<div id="message">
    <span th:if="${message != null}" th:text="${message}" th:class="success-message"></span>
    <span th:if="${error != null}" th:text="${error}" th:class="error-message"></span>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var csrf_token = [[${_csrf.token}]];
    var right_menu = {};
    isLoginPage = true;
    var main_content = {
        gravity: 3,
        type: "clean",
        css : "transparent-background",
        rows: [
            {
                cols: [
                    {},
                    {
                        id : "loginForm",
                        type: "form",
                        borderless: true,
                        rows: [
                            {template: "ورود به سیستم", type: "header"},
                            {
                                body: {content: "message"}, height: 36
                            },
                            {
                                id: 'username',
                                view: "text",
                                label: "نام کاربری",
                                labelAlign: 'right',
                                textAlign: 'right',
                                labelWidth: 100
                            },

                            {
                                id: "password",
                                view: "text",
                                type: "password",
                                label: "رمز عبور",
                                labelAlign: 'right',
                                textAlign: 'right',
                                labelWidth: 100
                            },
                            {
                                inputWidth: 100,
                                view: "button",
                                type: "form",
                                value: "ورود",
                                align: "left",
                                click: function () {
                                    var username = {name: "username", value: $$("username").getValue().trim()};
                                    var password = {name: "password", value: $$("password").getValue().trim()};

                                    webix.send("/login", [username, password], "POST", null);
                                }
                            }
                        ]
                    },{}
                ]
            }
        ]
    };

    /*]]>*/
</script>

<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->

</body>
</html>