<!DOCTYPE html  >
<html th:dir="rtl" th:lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="partials/header :: head"></th:block> /*/-->
    <title>نمايش نقشه</title>
    <style>
        #container {
            height: 620px;
        }
    </style>
</head>

<body>
<div id="yechizi">

</div>
<div id="container"></div>

<script th:inline="javascript">
    var whichMarkers = 1;
    /*<![CDATA[*/
    var icons = [[${icons}]];

    var map = L.map('container').setView([34.63321, 53.12988], 6);

    L.tileLayer([[${host}]] + '/osm_tiles/{z}/{x}/{y}.png', {

        maxZoom: 18,
        attribution: ' ',
        id: 'container'
    }).addTo(map);
    L.control.scale().addTo(map);

    var popup = L.popup();

    function onMapClick(e) {
        popup
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(map);
    }
    map.on('click', onMapClick);

    var weatherPoints = [];
    var weatherList = [[${weatherList}]];
    var forecastPoints = [];
    var forecasts = [[${forecasts}]];
    $.each(weatherList, function (index, point) {
        weatherPoints.push({
            "geometry": {
                "type": "Point",
                "coordinates": [
                    point.latitude, point.longitude
                ]
            },
            "type": "Feature",
            "properties": {
                "popupContent": "<div style='direction:rtl;text-align:right'><h1>" + point.contentHeader + "</h1>" + point.content + "</div>",
                "markerType": point.markerType,
                "isCumulonimbus" : point.isCumulonimbus,
                "windSpeedInKnots" : point.windSpeedInKnots,
                "style": {
                    bill: "good"
                }
            },
            "id": index
        })
    });
    $.each(forecasts, function (index, forecast) {
        forecastPoints.push({
            "geometry": {
                "type": "Point",
                "coordinates": [
                    forecast.latitude, forecast.longitude
                ]
            },
            "type": "Feature",
            "properties": {
                "popupContent": "<div style='direction:rtl;text-align:right'><h1>" + forecast.contentHeader + "</h1>" + forecast.content + "</div>",
                "markerType": forecast.markerType,
                "isCumulonimbus" : forecast.isCumulonimbus
            },
            "id": index
        })
    });


    var weatherMarkers = {
        "type": "FeatureCollection",
        "features": weatherPoints
    };
    var forecastMarkers = {
        "type": "FeatureCollection",
        "features": forecastPoints
    };

    function onEachFeature(feature, layer) {
        var popupContent = "" /*"<p>I started out as a GeoJSON " +
         feature.geometry.type + ", but now I'm a Leaflet vector!</p>"*/;

        if (feature.properties && feature.properties.popupContent) {
            popupContent += feature.properties.popupContent;
        }

        layer.bindPopup(popupContent);
    }

    var currentMarkers;

    function showMarkers(zoomlevel) {
        currentMarkers = L.geoJSON(weatherMarkers, {

            style: function (feature) {
                return feature.properties && feature.properties.style;
            },
            onEachFeature: onEachFeature,
            /* filter: function (feature, layer) {
             return feature.properties.zoomlevelMax <= zoomlevel && feature.properties.zoomlevelMin >= zoomlevel;
             },*/
            pointToLayer: function (feature, latlng) {
                var iconIsAvailable = false;
                $.each(icons, function (index, icon) {
                    if (feature.properties.markerType + '.png' == icon) {
                        iconIsAvailable = true;
                    }
                });

                if (iconIsAvailable) {
                    if (feature.properties.windSpeedInKnots && feature.properties.windSpeedInKnots > 20) {
                        return L.marker(latlng, {
                            icon: L.icon({
                                iconUrl: '/icons/' + feature.properties.markerType + '.png',
                                shadowUrl: '/icons/24.png',
                                shadowSize: [16, 16],
                                iconSize: [45, 45],
                                iconAnchor: [16, 37],
                                shadowAnchor: [-30, 30],
                                popupAnchor: [0, -28]
                            })
                        });
                    } else if (feature.properties.isCumulonimbus) {
                        return L.marker(latlng, {
                            icon: L.icon({
                                iconUrl: '/icons/' + feature.properties.markerType + '.png',
                                shadowUrl: '/icons/CB.png',
                                shadowSize: [16, 16],
                                iconSize: [45, 45],
                                iconAnchor: [16, 37],
                                shadowAnchor: [-30, 30],
                                popupAnchor: [0, -28]
                            })
                        });
                    } else {
                        return L.marker(latlng, {
                            icon: L.icon({
                                iconUrl: '/icons/' + feature.properties.markerType + '.png',
                                iconSize: [45, 45],
                                iconAnchor: [16, 37],
                                popupAnchor: [0, -28]
                            })
                        });
                    }
                }

                console.log("unknown phenomena", feature.properties.markerType);
                return L.circleMarker(latlng);
            }
        });
        currentMarkers.addTo(map);
    }

    function showForecasts(zoomlevel) {
        currentMarkers = L.geoJSON(forecastMarkers, {

                    style: function (feature) {
                        return feature.properties && feature.properties.style;
                    },
                    onEachFeature: onEachFeature,
                    /* filter: function (feature, layer) {
                     return feature.properties.zoomlevelMax <= zoomlevel && feature.properties.zoomlevelMin >= zoomlevel;
                     },*/
                    pointToLayer: function (feature, latlng) {
                        console.log(feature);
                        return L.marker(latlng, {
                                    icon: L.icon({
                                        iconUrl: feature.properties.markerType,
                                        iconSize: [45, 45],
                                        iconAnchor: [16, 37],
                                        popupAnchor: [0, -28]
                                    })
                                }
                        );
                    }
                }
        );
        currentMarkers.addTo(map);
    }


    map.on("zoomend", function (e) {
        if (currentMarkers) {
            map.removeLayer(currentMarkers);
        }
        if (whichMarkers == 1) {
            showMarkers(map.getZoom());
        } else {
            showForecasts(map.getZoom())
        }
    });


    var main_content = {
        gravity: 3,
        type: "clean",
        rows: [
            {
                container: "yechizi",
                view: "multiview",
                cells: [
                    {

                        view: "form",
                        cols: [
                            {
                                view: "button",
                                type: "form",
                                value: "نمايش اطلاعات هواشناسي",
                                width: 200,
                                click: function () {
                                    whichMarkers = 1;
                                    if (currentMarkers) {
                                        map.removeLayer(currentMarkers);
                                    }
                                    showMarkers(map.getZoom());
                                }
                            },
                            {
                                view: "button",
                                type: "form",
                                value: "نمايش پيش بيني هوا",
                                width: 200,
                                click: function () {
                                    whichMarkers = 2;
                                    if (currentMarkers) {
                                        map.removeLayer(currentMarkers);
                                    }
                                    showForecasts(map.getZoom());
                                }
                            },
                            {}
                        ]
                    }
                ]
            },
            {
                body: {content: 'container'}
            }
        ]
    };

    showMarkers(map.getZoom());


    /*]]>*/
</script>
<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->
</body>
</html>