<!DOCTYPE html  >
<html th:dir="rtl" th:lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="partials/header :: head"></th:block> /*/-->
    <title>مدیریت دسترسی</title>
</head>
<body>
<div class="edit-user-dialog" id="editUserDialog" style="display: none">

</div>
<div class="view-roles-dialog" id="viewRolesDialog" style="display: none">

</div>
<div id="message">
    <span th:if="${successMessage != null}" th:text="${successMessage}" th:class="success-message"></span>
    <span th:if="${errorMessage != null}" th:text="${errorMessage}" th:class="error-message"></span>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var main_content = {
        gravity: 3,
        type: "clean",
        rows: [
            {
                body: {content: "message"}, height: 36
            },
            {
                view: "tabbar", multiview: true, selected: "view", options: [
                {id: "securityConfigs", value: "موارد امنیتی", width: 150},
                {id: "bannerText", value: "پیام بنر", width: 150}
            ]
            },
            {
                view: "multiview",
                cells: [
                    {
                        id: "bannerText",
                        cols: [
                            {

                                type: "form",
                                borderless: true,
                                rows: [
                                    {
                                        id: 'contentText-id', view: "text", value: [[${contentText.id}]], hidden: true
                                    },
                                    {
                                        id: 'text',
                                        view: "textarea",
                                        label: "متن",
                                        labelAlign: 'right',
                                        value: [[${contentText.text}]],
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        inputWidth: 100,
                                        view: "button",
                                        type: "form",
                                        value: "ثبت",
                                        align: "left",
                                        click: function () {
                                            var id = {name: "id", value: $$("contentText-id").getValue()};
                                            var text = {
                                                name: "text",
                                                value: $$("text").getValue().trim()
                                            };
                                            webix.send("/base-info/security/config/saveBanner", [id, text], "POST", null);
                                        }
                                    }
                                ]
                            },
                            {}
                        ]
                    }
                    ,
                    {
                        id: "securityConfigs",
                        cols: [
                            {
                                type: "form",
                                borderless: true,
                                rows: [
                                    {
                                        id: 'configuration-id',
                                        value: [[${configuration.id}]],
                                        hidden: true
                                    },
                                    {
                                        id: "loginFailureAccountLockCount",
                                        view: "counter",
                                        value: [[${configuration.loginFailureAccountLockCount}]],
                                        label: "تعداد دفعات مجاز ورود پسورد",
                                        labelAlign: "right",
                                        labelWidth: 170,
                                        bottomPadding: 35,
                                        bottomLabel: "پس از این تعداد تلاش ناموفق جهت ورود، نام کاربری قفل شده و باید توسط مدیر باز شود."
                                    },
                                    {
                                        id: "passwordComplexity",
                                        view: "segmented",
                                        animate: {type: "flip", subtype: "vertical"},
                                        labelWidth: 170,
                                        labelAlign: "right",
                                        align: "right",
                                        label: "پیچیدگی رمز عبور ",
                                        options: [
                                            {id: "0", value: "ساده"},
                                            {id: "1", value: "حرف و عدد"},
                                            {id: "2", value: "حروف بزرگ و کوچک"},
                                            {id: "3", value: "حروف بزرگ و کوچک و عدد"},
                                            {id: "4", value: "حروف بزرگ و کوچک و عدد و علائم"}
                                        ],
                                        value: [[${complexity}]],
                                        bottomLabel: " ",
                                        on: {
                                            "onChange": function (newval, oldval) {
                                                var description;
                                                switch (newval) {
                                                    case "0":
                                                        description = "";
                                                        break;
                                                    case "1":
                                                        description = "هنگام انتخاب رمز عبور حداقل یک حرف و حداقل یک عدد لازم است.";
                                                        break;
                                                    case "2":
                                                        description = "هنگام انتخاب رمز عبور حداقل یک حرف  کوچک و حداقل یک حرف بزرگ انگلیسی لازم است.";
                                                        break;
                                                    case "3":
                                                        description = "هنگام انتخاب رمز عبور حداقل یک حرف  کوچک و حداقل یک حرف بزرگ و حداقل یک عدد لازم است.";
                                                        break;
                                                    case "4":
                                                        description = "هنگام انتخاب رمز عبور حداقل یک حرف  کوچک، حداقل یک حرف بزرگ، حداقل یک عدد و حداقل یک علامت خاص لازم است.";
                                                        break;
                                                }
                                                this.define("bottomLabel", description);
                                                this.render();
                                            }
                                        }
                                    },
                                    {
                                        id: "passwordLength",
                                        view: "counter",
                                        value: [[${configuration.passwordLength}]],
                                        label: "طول رمز عبور",
                                        labelAlign: "right",
                                        labelWidth: 170,
                                        bottomPadding: 35,
                                        bottomLabel: "حداقل تعداد حروف جهت انتخاب رمز عبور."
                                    },
                                    {
                                        id: "passwordResetPeriod",
                                        view: "counter",
                                        value: [[${configuration.passwordResetPeriod}]],
                                        label: "دوره اعتبار رمز عبور",
                                        labelAlign: "right",
                                        labelWidth: 170,
                                        bottomPadding: 35,
                                        bottomLabel: "تعداد روزهایی که پس از آن کاربر باید رمز عبور خود را تغییر دهد."
                                    },
                                    {
                                        id: "sessionTimeoutInSeconds",
                                        view: "counter",
                                        value: [[${configuration.sessionTimeoutInSeconds}]],
                                        label: "مدت انقضای نشسست",
                                        labelAlign: "right",
                                        labelWidth: 170,
                                        bottomPadding: 35,
                                        bottomLabel: "مدت زمانی که کاربر در صورت عدم فعالیت از سیستم خارج خواهد شد. (به ثانیه)"
                                    },

                                    {
                                        inputWidth: 100,
                                        view: "button",
                                        type: "form",
                                        value: "ثبت",
                                        align: "right",
                                        click: function () {
                                            var idValue = $$("configuration-id").config.value;
                                            var id = null;
                                            if(idValue){
                                                id = {name: "id", value: idValue};
                                            }

                                            var loginFailureAccountLockCount = {name: "loginFailureAccountLockCount", value: $$("loginFailureAccountLockCount").getValue()};
                                            var passwordComplexity = {name: "passwordComplexity", value: $$("passwordComplexity").getValue()};
                                            var passwordLength = {name: "passwordLength", value: $$("passwordLength").getValue()};
                                            var passwordResetPeriod = {name: "passwordResetPeriod", value: $$("passwordResetPeriod").getValue()};
                                            var sessionTimeoutInSeconds = {name: "sessionTimeoutInSeconds", value: $$("sessionTimeoutInSeconds").getValue()};
                                            var dataList = [loginFailureAccountLockCount,passwordComplexity,passwordLength,passwordResetPeriod,sessionTimeoutInSeconds];
                                            if(id){
                                                dataList.push(id);
                                            }
                                            webix.send("/base-info/security/config/save",dataList , "POST", null);
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    };
    /*]]>*/

    $("#editUserDialog").dialog({
        autoOpen: false,
        width: 500,
        modal: true
    });
    $("#viewRolesDialog").dialog({
        autoOpen: false,
        width: 300,
        modal: true
    });
</script>
<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->
</body>
</html>