<!DOCTYPE html  >
<html th:dir="rtl" th:lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="partials/header :: head"></th:block> /*/-->
    <title>مدیریت دسترسی</title>
</head>
<body>
<div class="edit-user-dialog" id="editUserDialog" style="display: none">

</div>
<div class="view-roles-dialog" id="viewRolesDialog" style="display: none">

</div>
<div id="message">
    <span th:if="${successMessage != null}" th:text="${successMessage}" th:class="success-message"></span>
    <span th:if="${errorMessage != null}" th:text="${errorMessage}" th:class="error-message"></span>
</div>

<script th:inline="javascript">
    function equals(a, b) {
        a = a.toString().toLowerCase();
        return a.indexOf(b) !== -1;
    }
    function oneForAll(value, filter, obj) {
        if (equals(obj.username, filter)) return true;
        if (equals(obj.firstName, filter)) return true;
        if (equals(obj.lastName, filter)) return true;
        if (equals(obj.nationalCode, filter)) return true;
        return !!equals(obj.personNumber, filter);
    }

    function activeFormat(text) {
        if (text === true)
            return 'فعال';
        if (text === false)
            return 'غیرفعال';
    }

    webix.ui({
        id: "edit-user",
        container: "editUserDialog",
        view: "form",
        cols: [
            {
                type: "form",
                borderless: true,
                width: 400,
                rows: [
                    {template: "ویرایش مشخصات", type: "header"},
                    {
                        id: 'username',
                        view: "text",
                        label: "نام کاربری",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: 'firstName',
                        view: "text",
                        label: "نام",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: 'lastName',
                        view: "text",
                        label: "نام خانوادگی",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: 'nationalCode',
                        view: "text",
                        label: "کد ملی",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: 'personNumber',
                        view: "text",
                        label: "کد پرسنلی",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: "enabled",
                        view: "segmented",
                        width: 270,
                        align: "left",
                        options: [
                            {id: "1", value: "فعال"},
                            {id: "0", value: "غیرفعال"}
                        ]
                    },
                    {
                        id: "password",
                        view: "text",
                        type: "password",
                        value: null,
                        label: "رمز عبور جدید",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100

                    },
                    {
                        id: "re-password",
                        view: "text",
                        type: "password",
                        value: null,
                        label: "تکرار رمز عبور جدید",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100

                    },
                    {
                        inputWidth: 100,
                        view: "button",
                        type: "form",
                        value: "ثبت",
                        align: "left",
                        click: function () {
                            var username = {name: "username", value: $$("username").getValue().trim()};
                            var firstName = {name: "firstName", value: $$("firstName").getValue().trim()};
                            var lastName = {name: "lastName", value: $$("lastName").getValue().trim()};
                            var nationalCode = {name: "nationalCode", value: $$("nationalCode").getValue().trim()};
                            var personNumber = {name: "personNumber", value: $$("personNumber").getValue().trim()};
                            var enabled = {name: "enabled", value: $$("enabled").getValue().trim()};
                            var password = {name: "password", value: $$("password").getValue().trim()};
                            var rePassword = {name: "re-password", value: $$("re-password").getValue().trim()};
                            var isNew = {name: "isNew", value: false};
                            webix.send("/base-info/user/save", [username, firstName, lastName, nationalCode, personNumber, enabled, password, rePassword, isNew], "POST", null);
                        }
                    }
                ]
            },
            {}

        ]
    });

    /*<![CDATA[*/
    var main_content = {
        gravity: 3,
        type: "clean",
        rows: [
            {
                body: {content: "message"}, height: 36
            },
            {
                view: "tabbar", multiview: true, selected: "view", options: [
                {id: "bannerText", value: "پیام بنر", width: 150},
                {id: "else", value: "سایر موارد", width: 150}
            ]
            },
            {
                view: "multiview",
                cells: [
                    {
                        id: "bannerText",
                        cols : [
                            {

                                type : "form",
                                borderless: true,
                                rows : [
                                    {
                                        id: 'id', view: "text", value: [[${contentText.id}]], hidden: true
                                    },
                                    {
                                        id: 'text',
                                        view: "textarea",
                                        label: "متن",
                                        labelAlign: 'right',
                                        value: [[${contentText.text}]],
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        inputWidth: 100,
                                        view: "button",
                                        type: "form",
                                        value: "ثبت",
                                        align: "left",
                                        click: function () {
                                            var id = {name: "id", value: $$("id").getValue()};
                                            var text = {
                                                name: "text",
                                                value: $$("text").getValue().trim()
                                            };
                                            webix.send("/base-info/security/config/saveBanner", [id,text], "POST", null);
                                        }
                                    }
                                ]
                            },
                            {}
                        ]
                    }
                    ,
                    {
                        id: "else",
                        template: "در دست توسعه"
                    }
                ]
            }
        ]
    };
    /*]]>*/

    $("#editUserDialog").dialog({
        autoOpen: false,
        width: 500,
        modal: true
    });
    $("#viewRolesDialog").dialog({
        autoOpen: false,
        width: 300,
        modal: true
    });
</script>
<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->
</body>
</html>