<!DOCTYPE html  >
<html th:dir="rtl" th:lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="partials/header :: head"></th:block> /*/-->
    <title>نمايش اطلاعات پرواز</title>
    <style>
        #container {
            height: 500px;
        }

        .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
            z-index: 500 !important;
        }

        .ui-widget-header {
            background: #575757 !important;
        }

        .ui-dialog .ui-dialog-content {
            padding: 0 !important;
        }
    </style>
</head>

<body>
<div id="yechizi">

</div>
<div id="container" style="height:700px;"></div>
<div id="speedChart" style="height:200px;margin:5px;display: none"></div>
<div id="altitudeChart" style="height:200px;margin:5px;display: none"></div>
<div id="historyGrid" style="height:400px;display: none">
    <div id="historyGridContainer" style="width:500px;height:400px;">

    </div>

</div>

<script th:inline="javascript">
    var whichMarkers = 1;
    var showTracks = false;
    var showWeather = false;
    /*<![CDATA[*/
    var g_source = null;
    var g_destination = null;
    var g_radar = null;
    var g_callsign = null;
    var icons = [[${icons}]];
    var weatherList = [[${weatherList}]];
    var forecastList = [[${forecasts}]];

    var map = L.map('container').setView([33.63321, 55.12988], 6);

    L.tileLayer([[${host}]] , {

        maxZoom: 18,
        attribution: 'Something To Remember',
        id: 'container'
    }).addTo(map);
    L.control.scale().addTo(map);

    var popup = L.popup();


    function onEachFeature(feature, layer) {
        var popupContent = "" /*"<p>I started out as a GeoJSON " +
         feature.geometry.type + ", but now I'm a Leaflet vector!</p>"*/;

        if (feature.properties && feature.properties.popupContent) {
            popupContent += feature.properties.popupContent;
        }

        layer.bindPopup(popupContent);
    }

    var currentMarkers;
    function refreshTracks() {
        var trackPoints = [];
        var trackList = [];
        ajaxCall('/tracks/renew',
                {
                    source: g_source,
                    destination: g_destination,
                    radar: g_radar,
                    callsign: g_callsign
                },
                'GET',
                function (data) {
                    trackList = data.tracks;

                    $.each(trackList, function (index, point) {
                        trackPoints.push({
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    point.latitude, point.longitude
                                ]
                            },
                            "type": "Feature",
                            "properties": {
                                "popupContent": "<div style='direction:rtl;text-align:right'><h1>اطلاعات تکميلي</h1>" + point.content + "</div>",
                                "code": point.code,
                                "heading" : point.heading
                            },
                            "id": index
                        })
                    });


                    var trackMarkers = {
                        "type": "FeatureCollection",
                        "features": trackPoints
                    };
                    if (currentMarkers) {
                        map.removeLayer(currentMarkers);
                    }
                    currentMarkers = L.geoJSON(trackMarkers, {

                        style: function (feature) {
                            return {"color" : "red"};
                        },
                        onEachFeature: onEachFeature,
                        pointToLayer: function (feature, latlng) {
                            return L.marker(latlng, {
                                icon: L.icon({
                                    iconUrl: '/icons/airplane.png',
                                    iconSize: [45, 45]
                                }),
                                rotationAngle : -45 - feature.properties.heading
                            });
                        }
                    });
                    currentMarkers.addTo(map);

                },
                function (err) {
                    console.log(err);
                    trackList = [];
                });

    }

    var weatherPoints = [];
    $.each(weatherList, function (index, point) {
        weatherPoints.push({
            "geometry": {
                "type": "Point",
                "coordinates": [
                    point.latitude, point.longitude
                ]
            },
            "type": "Feature",
            "properties": {
                "popupContent": "<div style='direction:rtl;text-align:right'><h1>" + point.contentHeader + "</h1>" + point.content + "</div>",
                "markerType": point.markerType,
                "isCumulonimbus": point.isCumulonimbus,
                "windSpeedInKnots": point.windSpeedInKnots,
                "style": {
                    bill: "good"
                }
            },
            "id": index
        })
    });


    var weatherMarkers = {
        "type": "FeatureCollection",
        "features": weatherPoints
    };

    var currentWeatherMarkers;
    function showWeathers() {
        if (weatherMarkers) {
            map.removeLayer(weatherMarkers);
        }
        currentWeatherMarkers = L.geoJSON(weatherMarkers, {

            style: function (feature) {
                return feature.properties && feature.properties.style;
            },
            onEachFeature: onEachFeature,
            /* filter: function (feature, layer) {
             return feature.properties.zoomlevelMax <= zoomlevel && feature.properties.zoomlevelMin >= zoomlevel;
             },*/
            pointToLayer: function (feature, latlng) {
                var iconIsAvailable = false;
                $.each(icons, function (index, icon) {
                    if (feature.properties.markerType + '.png' == icon) {
                        iconIsAvailable = true;
                    }
                });

                if (iconIsAvailable) {
                    if (feature.properties.windSpeedInKnots && feature.properties.windSpeedInKnots > 20) {
                        return L.marker(latlng, {
                            icon: L.icon({
                                iconUrl: '/icons/' + feature.properties.markerType + '.png',
                                shadowUrl: '/icons/24.png',
                                shadowSize: [16, 16],
                                iconSize: [45, 45],
                                iconAnchor: [16, 37],
                                shadowAnchor: [-30, 30],
                                popupAnchor: [0, -28]
                            })
                        });
                    } else if (feature.properties.isCumulonimbus) {
                        return L.marker(latlng, {
                            icon: L.icon({
                                iconUrl: '/icons/' + feature.properties.markerType + '.png',
                                shadowUrl: '/icons/CB.png',
                                shadowSize: [16, 16],
                                iconSize: [45, 45],
                                iconAnchor: [16, 37],
                                shadowAnchor: [-30, 30],
                                popupAnchor: [0, -28]
                            })
                        });
                    } else {
                        return L.marker(latlng, {
                            icon: L.icon({
                                iconUrl: '/icons/' + feature.properties.markerType + '.png',
                                iconSize: [45, 45],
                                iconAnchor: [16, 37],
                                popupAnchor: [0, -28]
                            })
                        });
                    }
                }

                console.log("unknown phenomena", feature.properties.markerType);
                return L.circleMarker(latlng);
            }
        });
        currentWeatherMarkers.addTo(map);
    }

    var forecastPoints = [];
    var forecasts = [[${forecasts}]];
    $.each(forecasts, function (index, forecast) {
        forecastPoints.push({
            "geometry": {
                "type": "Point",
                "coordinates": [
                    forecast.latitude, forecast.longitude
                ]
            },
            "type": "Feature",
            "properties": {
                "popupContent": "<div style='direction:rtl;text-align:right'><h1>" + forecast.contentHeader + "</h1>" + forecast.content + "</div>",
                "markerType": forecast.markerType,
                "isCumulonimbus" : forecast.isCumulonimbus
            },
            "id": index
        })
    });
    var forecastMarkers = {
        "type": "FeatureCollection",
        "features": forecastPoints
    };

    var currentForecastMarkers;
    function showForecasts() {
        if (forecastMarkers) {
            map.removeLayer(forecastMarkers);
        }
        currentForecastMarkers = L.geoJSON(forecastMarkers, {
            style: function (feature) {
                return feature.properties && feature.properties.style;
            },
            onEachFeature: onEachFeature,
            /* filter: function (feature, layer) {
             return feature.properties.zoomlevelMax <= zoomlevel && feature.properties.zoomlevelMin >= zoomlevel;
             },*/
            pointToLayer: function (feature, latlng) {
                return L.marker(latlng, {
                            icon: L.icon({
                                iconUrl: feature.properties.markerType,
                                iconSize: [45, 45],
                                iconAnchor: [16, 37],
                                popupAnchor: [0, -28]
                            })
                        }
                );
            }
        });
        currentForecastMarkers.addTo(map);
    }


    var main_content = {
        gravity: 3,
        type: "clean",
        rows: [
            {
                view: "toolbar", paddingY: 2,
                cols: [
                    {view: "search", placeholder: "مبدا", id: "filterSource", disabled: true, width: 200},
                    {view: "search", placeholder: "مقصد", id: "filterDestination", disabled: true, width: 200},
                    {view: "search", placeholder: "رادار", id: "filterRadar", disabled: true, width: 200},
                    {view: "search", placeholder: "Callsign هواپيما", id: "filterCallsign", disabled: true, width: 200},
                    {
                        view: "button", label: "فيلتر", width: 100, id: "filterButton", disabled: true,
                        click: function () {
                            g_source = $$("filterSource").getValue();
                            g_destination = $$("filterDestination").getValue();
                            g_radar = $$("filterRadar").getValue();
                            g_callsign = $$("filterCallsign").getValue();
                            showTracks = true;
                            if (currentTrailMarkers) {
                                map.removeLayer(currentTrailMarkers);
                            }
                            refreshTracks();
                        }
                    }
                ]
            },
            {
                view: "toolbar", paddingY: 2,
                cols: [
                    {view: "search", placeholder: "Callsign هواپيما", id: "search", disabled: true, width: 300},
                    {
                        view: "button", label: "جستجو", width: 100, id: "searchButton", disabled: true,
                        click: function () {
                            ajaxCall(
                                    "/tracks/aircraft/find",
                                    {
                                        callsign: $$("search").getValue()
                                    },
                                    "GET",
                                    function (data) {
                                        var latitude = data.log.latitude;
                                        var longitude = data.log.longitude;
                                        map.setView([longitude, latitude], 9, {animate: true, duration: 2});
                                    }, function (error) {

                                    });
                        }
                    }
                ]
            },
            {
                view: "toolbar", paddingY: 2,
                cols: [
                    {
                        view: "toggle", type: "image", image: "/icons/0cloud26.png", width: 50,
                        on: {
                            "onChange": function (newValue, oldValue) {
                                showWeather = newValue;
                                if (newValue) {
                                    showWeathers();
                                } else {
                                    if (currentWeatherMarkers) {
                                        map.removeLayer(currentWeatherMarkers);
                                    }
                                }
                            }
                        }
                    },
                    {
                        view: "toggle", type: "image", image: "/icons/airplane26.png", width: 50,
                        on: {
                            "onChange": function (newValue, oldValue) {
                                showTracks = newValue;
                                if (newValue) {
                                    $$("searchButton").enable();
                                    $$("search").enable();

                                    $$("filterSource").enable();
                                    $$("filterDestination").enable();
                                    $$("filterRadar").enable();
                                    $$("filterCallsign").enable();
                                    $$("filterButton").enable();
                                    showTracks = true;
                                    if (currentTrailMarkers) {
                                        map.removeLayer(currentTrailMarkers);
                                    }
                                    refreshTracks();
                                } else {
                                    $$("searchButton").disable();
                                    $$("search").disable();

                                    $$("filterSource").disable();
                                    $$("filterDestination").disable();
                                    $$("filterRadar").disable();
                                    $$("filterCallsign").disable();
                                    $$("filterButton").disable();
                                    // track markers
                                    if (currentMarkers) {
                                        map.removeLayer(currentMarkers);
                                    }
                                    if (currentTrailMarkers) {
                                        map.removeLayer(currentTrailMarkers);
                                    }
                                }

                            }
                        }
                    },
                    {
                        view: "toggle", type: "image", image: "/icons/up_down.png", width: 50,
                        on: {
                            "onChange": function (newValue, oldValue) {
                                if (newValue) {
                                    showForecasts();
                                } else {
                                    if (currentForecastMarkers) {
                                        map.removeLayer(currentForecastMarkers);
                                    }
                                }
                            }
                        }
                    }
                ]
            },
            {
                height: 700,
                body: {content: 'container'}
            },
            {view: "resizer"},
            {
                cols: [
                    {
                        id: "charts", cols: [
                        {
                            template: " "
                        },
                        {
                            template: ""
                        }
                    ]
                    }
                ]
            }

        ]
    };

    $(document).ready(function () {
        setInterval(function () {
            if (showTracks) {
                refreshTracks()
            }
        }, 10000);
    });


    /*]]>*/

    function showProfile(code) {
        $("#altitudeChart").empty();
        $("#speedChart").empty();
        $("#altitudeChart").css("display", "block");
        $("#speedChart").css("display", "block");

        webix.ui(
                {
                    id: "charts",
                    rows: [
                        {
                            cols: [
                                {
                                    rows: [
                                        {
                                            template: '<div style="text-align: center; font-size: larger; font-weight: bold; "><span>نمودار سرعت</span></div>',
                                            height: 40
                                        },
                                        {
                                            height: 200,
                                            body: {content: 'speedChart'}
                                        }
                                    ]
                                },
                                {
                                    rows: [
                                        {
                                            template: '<div style="text-align: center; font-size: larger; font-weight: bold; "><span>نمودار ارتفاع</span></div>',
                                            height: 40
                                        },
                                        {
                                            height: 200,
                                            body: {content: 'altitudeChart'}
                                        }
                                    ]
                                }
                            ]
                        }
                    ]

                }
                , $$('charts'));

        ajaxCall(
                "/tracks/profile",
                {
                    trackCode: code
                },
                "GET",
                function (data) {

                    webix.ui({
                        view: "chart",
                        container: "altitudeChart",
                        type: "line",
                        value: "#altitude#",
                        item: {
                            borderColor: "#1293f8",
                            color: "#ffffff"
                        },
                        line: {
                            color: "#1293f8",
                            width: 3
                        },
                        tooltip: {
                            template: "#altitude#"
                        },
                        xAxis: {
                            template: "#detailedTime#"
                        },
                        offset: 0,
                        yAxis: {
                            start: 0,
                            end: 100000,
                            step: 10000,
                            template: function (obj) {
                                return (obj % 20 ? "" : obj)
                            }
                        },
                        data: data.logs
                    });

                    webix.ui({
                        view: "chart",
                        container: "speedChart",
                        type: "line",
                        value: "#speed#",
                        item: {
                            borderColor: "#1293f8",
                            color: "#ffffff"
                        },
                        line: {
                            color: "#1293f8",
                            width: 3
                        },
                        tooltip: {
                            template: "#speed#"
                        },
                        xAxis: {
                            template: "#detailedTime#"
                        },
                        offset: 0,
                        yAxis: {
                            start: 0,
                            end: 500,
                            step: 50,
                            template: function (obj) {
                                return (obj % 20 ? "" : obj)
                            }
                        },
                        data: data.logs
                    });

                },
                function (err) {
                    console.log(err);
                    webix.message({
                        type: "error",
                        text: "خطا در دريافت پروفايل پروازي"
                    })
                }
        );

    }

    function showAircraftHistory(code) {
        ajaxCall(
                "/tracks/aircraft/history",
                {
                    trackCode: code
                },
                "GET",
                function (data) {
                    $("#historyGridContainer").empty();
                    $("#historyGrid").dialog("open");

                    webix.ui(
                            {
                                view: "datatable",
                                container: "historyGridContainer",
                                columns: [
                                    {
                                        id: "code",
                                        header: ["کد مسير", null]
                                    },
                                    {id: "source", header: ["مبدا", null], fillspace: true},
                                    {id: "destination", header: ["مقصد", null], fillspace: true}
                                ],
                                select: "row",
                                tooltip: true,
                                navigation: true,
                                autowidth: false,
                                autoheight: false,
                                scroll: true,
                                data: data.logs
                            });

                },
                function (err) {
                    console.log(err);
                    webix.message({
                        type: "error",
                        text: "خطا در دريافت پروفايل پروازي"
                    })
                }
        );

    }



    var currentTrailMarkers;
    function showTrackHistory(code) {
        ajaxCall(
                "/tracks/track/history",
                {
                    trackCode: code
                },
                "GET",
                function (data) {
                    var trailPoints = [];
                    var trails = data.tracks;
                    showTracks = false;
                    if (currentMarkers) { // tracks
                        map.removeLayer(currentMarkers);
                    }
                    if (currentTrailMarkers) {
                        map.removeLayer(currentTrailMarkers);
                    }
                    currentTrailMarkers = [];
                    $.each(trails, function (index, trail) {
                        trailPoints.push({
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    trail.latitude, trail.longitude
                                ]
                            },
                            "type": "Feature",
                            "properties": {
                                "isLast": trail.last,
                                "heading" : trail.heading
                            },
                            "id": index
                        })
                    });
                    var trailMarkers = {
                        "type": "FeatureCollection",
                        "features": trailPoints
                    };

                    currentTrailMarkers = L.geoJSON(trailMarkers, {
                        pointToLayer: function (feature, latlng) {
                            console.log(feature.properties.isLast);
                            if(feature.properties.isLast){
                                return L.marker(latlng, {
                                    icon: L.icon({
                                        iconUrl: '/icons/airplane.png',
                                        iconSize: [45, 45]
                                    }),
                                    rotationAngle : -45 - feature.properties.heading
                                });
                            }else {
                                return L.circleMarker(latlng);
                            }
                        }
                    });
                    currentTrailMarkers.addTo(map);
                },
                function (err) {
                    console.log(err);
                    webix.message({
                        type: "error",
                        text: "خطا در دريافت پروفايل پروازي"
                    })
                }
        );

    }

    $("#historyGrid").dialog({
        title: "مسيرهاي آخر هواپيما",
        autoOpen: false,
        width: 500,
        modal: true
    });
</script>
<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->
</body>
</html>