<!DOCTYPE html  >
<html th:dir="rtl" th:lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="partials/header :: head"></th:block> /*/-->
    <title>مدیریت یگان ها</title>
</head>
<body>
<div class="edit-unit-dialog" id="editUnitDialog" style="display: none">

</div>
<div id="message">
    <span th:if="${successMessage != null}" th:text="${successMessage}" th:class="success-message"></span>
    <span th:if="${errorMessage != null}" th:text="${errorMessage}" th:class="error-message"></span>
</div>

<script th:inline="javascript">
    function equals(a, b) {
        a = a.toString().toLowerCase();
        return a.indexOf(b) !== -1;
    }
    function oneForAll(value, filter, obj) {
        if (equals(obj.provinceCode, filter)) return true;
        if (equals(obj.farsiName, filter)) return true;
        if (equals(obj.name, filter)) return true;
        if (equals(obj.stationId, filter)) return true;
        if (equals(obj.stationNo, filter)) return true;
        if (equals(obj.latitude, filter)) return true;
        if (equals(obj.longitude, filter)) return true;
        return !!equals(obj.altitude, filter);
    }

    /*<![CDATA[*/
    var unitTypes = [[${unitTypes}]];
    var unit_types = [];
    for (var i = 0; i < unitTypes.length; i++) {
        unit_types.push({value: unitTypes[i].name, id: unitTypes[i].id});
    }
    function unitTypeFormat(inputUnitType) {
        return inputUnitType.name;
    }

    webix.ui({
        id: "edit-unit",
        container: "editUnitDialog",
        view: "form",
        cols: [
            {
                type: "form",
                borderless: true,
                width: 400,
                rows: [
                    {template: "ویرایش مشخصات", type: "header"},
                    {
                        id: 'id', view: "text", disabled: true
                    },
                    {
                        id: 'title',
                        view: "text",
                        label: "عنوان",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: 'code',
                        view: "text",
                        label: "کد",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: 'type',
                        view: "select",
                        options: unit_types,
                        label: "نوع یگان",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        inputWidth: 100,
                        view: "button",
                        type: "form",
                        value: "ثبت",
                        align: "left",
                        click: function () {
                            var id = {name: "id", value: $$("id").getValue().trim()};
                            var title = {name: "title", value: $$("title").getValue().trim()};
                            var code = {name: "code", value: $$("code").getValue().trim()};
                            var type = {name: "type", value: $$("type").getValue().trim()};
                            var isNew = {name: "isNew", value: false};
                            webix.send("/base-info/unit/save", [id, title, code, type, isNew], "POST", null);
                        }
                    }
                ]
            },
            {}

        ]
    });

    var main_content = {
        gravity: 3,
        type: "clean",
        rows: [
            {
                body: {content: "message"}, height: 36
            },
            {
                view: "tabbar", multiview: true, selected: "view", options: [
                {id: "view", value: "مشاهده یگان ها", width: 150},
                {id: "add", value: "افزودن یگان", width: 150},
                {id: "addType", value: "افزودن نوع یگان", width: 150}
            ]
            },
            {
                view: "multiview",
                cells: [
                    {
                        id: "view",
                        view: "datatable", select: true,
                        columns: [
                            {
                                id: "title",
                                header: ["عنوان ", {
                                    content: "textFilter",
                                    compare: oneForAll,
                                    placeholder: "جستجو",
                                    colspan: 3
                                }],
                                fillspace: true
                            },
                            {
                                id: "code", header: ["کد", null], fillspace: true
                            },
                            {
                                id: "type", header: ["نوع ", null], fillspace: true, format: unitTypeFormat
                            },
                            {
                                id: "edit",
                                header: "ویرایش",
                                css: "webix_el_button",
                                width: 150,
                                template: "<a href='javascript:void(0)' class='edit_unit'>ویرایش</a>"
                            },
                            {
                                id: "remove",
                                header: "حذف",
                                css: "webix_el_button",
                                width: 150,
                                template: "<a href='javascript:void(0)' class='remove_unit'>حذف</a>"
                            }
                        ],
                        data: [[${units}]],
                        onClick: {
                            "edit_unit": function (e, id) {
                                //[provinceCode, farsiName, name, stationId, stationNo, latitude, longitude, altitude, level, isNew]
                                var item = this.getItem(id);
                                $$("id").setValue(item.id);
                                $$("title").setValue(item.title);
                                $$("code").setValue(item.code);
                                console.log(item.type)
                                $$("type").setValue(item.type.id);
                                $("#editUnitDialog").dialog("open");
                            },
                            "remove_unit": function (e, id) {
                                var item = this.getItem(id);
                                var unitId = {name: "id", value: item.id};
                                webix.send("/base-info/unit/remove", [unitId], "POST", null);
                                return false;
                            }
                        }
                    },
                    {
                        id: "add",
                        view: "form",
                        cols: [
                            {
                                type: "form",
                                borderless: true,
                                width: 600,

                                rows: [
                                    {template: "افزودن یگان", type: "header"},
                                    {
                                        id: 'title_new',
                                        view: "text",
                                        label: "عنوان",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        id: 'code_new',
                                        view: "text",
                                        label: "کد",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        id: 'type_new',
                                        view: "select",
                                        options: unit_types,
                                        label: "نوع یگان",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        inputWidth: 100,
                                        view: "button",
                                        type: "form",
                                        value: "ثبت",
                                        align: "left",
                                        click: function () {
                                            var title = {
                                                name: "title",
                                                value: $$("title_new").getValue().trim()
                                            };
                                            var code = {
                                                name: "code",
                                                value: $$("code_new").getValue().trim()
                                            };
                                            var name = {
                                                name: "name",
                                                value: $$("name_new").getValue().trim()
                                            };
                                            var type = {
                                                name: "type",
                                                value: $$("type_new").getValue().trim()
                                            };

                                            var isNew = {
                                                name: "isNew",
                                                value: true
                                            };
                                            webix.send("/base-info/unit/save", [title, code, name, type, isNew], "POST", null);
                                        }
                                    }
                                ]
                            },
                            {}

                        ]
                    },
                    {
                        id: "addType",
                        view: "form",
                        cols: [
                            {
                                type: "form",
                                borderless: true,
                                width: 600,

                                rows: [
                                    {template: "افزودن نوع", type: "header"},
                                    {
                                        id: 'name_new',
                                        view: "text",
                                        label: "نام",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        inputWidth: 100,
                                        view: "button",
                                        type: "form",
                                        value: "ثبت",
                                        align: "left",
                                        click: function () {
                                            var name = {name: "name", value: $$("name_new").getValue().trim()};
                                            var isNew = {
                                                name: "isNew",
                                                value: true
                                            };
                                            webix.send("/base-info/unit/type/save", [name, isNew], "POST", null);
                                        }
                                    }
                                ]
                            },
                            {}

                        ]
                    }
                ]
            }
        ]
    };
    /*]]>*/

    $("#editUnitDialog").dialog({
        autoOpen: false,
        width: 500,
        modal: true
    });
</script>
<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->
</body>
</html>