<!DOCTYPE html  >
<html th:dir="rtl" th:lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="partials/header :: head"></th:block> /*/-->
    <title>مديريت قسمت ها</title>
</head>
<body>
<div class="edit-section-dialog" id="editSectionDialog" style="display: none">

</div>
<div id="message">
    <span th:if="${successMessage != null}" th:text="${successMessage}" th:class="success-message"></span>
    <span th:if="${errorMessage != null}" th:text="${errorMessage}" th:class="error-message"></span>
</div>

<script th:inline="javascript">
    function equals(a, b) {
        a = a.toString().toLowerCase();
        return a.indexOf(b) !== -1;
    }
    function oneForAll(value, filter, obj) {
        if (equals(obj.perno, filter)) return true;
        if (equals(obj.firstName, filter)) return true;
        return !!equals(obj.lastName, filter);
    }


    webix.ui({
        id: "edit-section",
        container: "editSectionDialog",
        view: "form",
        cols: [
            {
                type: "form",
                borderless: true,
                width: 400,
                rows: [
                    {template: "ويرايش مشخصات", type: "header"},
                    {
                        id: 'code',
                        view: "text",
                        label: "کد",
                        labelAlign: 'right',
                        textAlign: 'right',
                        disabled: true
                    },
                    {
                        id: "name", view: "text", label: "نام", labelAlign: 'right', textAlign: 'right'
                    },
                    {
                        inputWidth: 100,
                        view: "button",
                        type: "form",
                        value: "ثبت",
                        align: "left",
                        click: function () {
                            var code = {name: "code", value: $$("code").getValue().trim()};
                            var name = {name: "name", value: $$("name").getValue().trim()};
                            var isNew = {name: "isNew", value: false};
                            webix.send("/base-info/section/save", [code, name, isNew], "POST", null);
                        }
                    }
                ]
            },
            {}

        ]
    });
    /*<![CDATA[*/
    var main_content = {
        gravity: 3,
        type: "clean",
        rows: [
            {
                body: {content: "message"}, height: 36
            },
            {
                view: "tabbar", multiview: true, selected: "view", options: [
                {id: "view", value: "مشاهده قسمت ها", width: 150},
                {id: "add", value: "افزودن", width: 150}
            ]
            },
            {
                view: "multiview",
                cells: [
                    {
                        id: "view",
                        view: "datatable", select: true,
                        columns: [
                            {
                                id: "code",
                                header: ["کد ", {
                                    content: "textFilter",
                                    compare: oneForAll,
                                    placeholder: "جستجو",
                                    colspan: 3
                                }],
                                sort: "int",
                                width: 200
                            },
                            {id: "name", header: ["نام", null], fillspace: true},
                            {
                                id: "edit",
                                header: "ويرايش",
                                css: "webix_el_button",
                                width: 150,
                                template: "<a href='javascript:void(0)' class='edit_section'>ويرايش</a>"
                            },
                            {
                                id: "remove",
                                header: "حذف",
                                css: "webix_el_button",
                                width: 150,
                                template: "<a href='javascript:void(0)' class='remove_section'>حذف</a>"
                            }
                        ],
                        data: [[${sections}]],
                        onClick: {
                            "edit_section": function (e, id) {
                                var item = this.getItem(id);
                                $$("code").setValue(item.code);
                                $$("name").setValue(item.name);
                                $("#editSectionDialog").dialog("open");
                            },
                            "remove_section": function (e, id) {
                                var item = this.getItem(id);
                                console.log(item);
                                var code = {name: "code", value: item.code};
                                webix.send("/base-info/section/remove", [code], "POST", null);
                                return false;
                            }
                        }
                    },
                    {
                        id: "add",
                        view: "form",
                        cols: [
                            {
                                type: "form",
                                borderless: true,
                                width: 400,
                                rows: [
                                    {template: "افزودن قسمت", type: "header"},
                                    {
                                        id: 'code_new',
                                        view: "text",
                                        label: "کد ",
                                        labelAlign: 'right',
                                        textAlign: 'right'
                                    },
                                    {
                                        id: "name_new",
                                        view: "text",
                                        label: "نام",
                                        labelAlign: 'right',
                                        textAlign: 'right'
                                    },
                                    {
                                        inputWidth: 100,
                                        view: "button",
                                        type: "form",
                                        value: "ثبت",
                                        align: "left",
                                        click: function () {
                                            var code = {name: "code", value: $$("code_new").getValue().trim()};
                                            var name = {
                                                name: "name",
                                                value: $$("name_new").getValue().trim()
                                            };
                                            var isNew = {
                                                name: "isNew",
                                                value: true
                                            };
                                            webix.send("/base-info/section/save", [code, name, isNew], "POST", null);
                                        }
                                    }
                                ]
                            },
                            {}

                        ]
                    }
                ]
            }
        ]
    };
    /*]]>*/

    $("#editSectionDialog").dialog({
        autoOpen: false,
        width: 500,
        modal: true
    });
</script>
<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->
</body>
</html>