<!DOCTYPE html  >
<html th:dir="rtl" th:lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="partials/header :: head"></th:block> /*/-->
    <title>مديريت کاربران</title>
    <style>
        .checkbox {
            padding-left: 10px;
            height: 60px;
            padding-top: 10px;
            float: left;
        }

        .item-text {
            float: right;
            padding-right: 10px;
            height: 60px;
            padding-top: 10px;
        }
    </style>
</head>
<body>
<div class="edit-user-dialog" id="editUserDialog" style="display: none">

</div>
<div class="edit-user-dialog" id="editUserGroupDialog" style="display: none">

</div>
<div class="view-roles-dialog" id="viewRolesDialog" style="display: none">
    <div id="role-list"></div>
</div>
<div id="message">
    <span th:if="${successMessage != null}" th:text="${successMessage}" th:class="success-message"></span>
    <span th:if="${errorMessage != null}" th:text="${errorMessage}" th:class="error-message"></span>
</div>

<script th:inline="javascript">
    function equals(a, b) {
        a = a.toString().toLowerCase();
        return a.indexOf(b) !== -1;
    }
    function oneForAll(value, filter, obj) {
        if (equals(obj.username, filter)) return true;
        if (equals(obj.firstName, filter)) return true;
        if (equals(obj.lastName, filter)) return true;
        if (equals(obj.nationalCode, filter)) return true;
        return !!equals(obj.personNumber, filter);
    }

    function activeFormat(text) {
        if (text === true)
            return 'فعال';
        if (text === false)
            return 'غيرفعال';
    }
    function lockFormat(text) {
        if (text === true)
            return 'قفل شده';
        if (text === false)
            return 'باز';
    }
    /*<![CDATA[*/
    var userGroups = [[${userGroups}]];
    var comboUserGroups = [];
    $.each(userGroups, function (index, userGroup) {
        comboUserGroups.push({id: userGroup.id, value: userGroup.name})
    });

    webix.ui({
        id: "edit-user",
        container: "editUserDialog",
        cols: [
            {
                view: "form",
                borderless: true,
                width: 400,
                elements: [
                    {template: "ويرايش مشخصات", type: "header"},
                    {
                        id: 'username',
                        name: 'username',
                        invalidMessage: "اين فيلد الزامي است.",
                        view: "text",
                        label: "نام کاربري",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: 'firstName',
                        name: 'firstName',
                        invalidMessage: "اين فيلد الزامي است.",
                        view: "text",
                        label: "نام",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: 'lastName',
                        name: 'lastName',
                        invalidMessage: "اين فيلد الزامي است.",
                        view: "text",
                        label: "نام خانوادگي",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: 'nationalCode',
                        name: 'nationalCode',
                        invalidMessage: "اين فيلد الزامي است، تنها مقادير عددي ميپذيرد و  بايد حداکثر 10 رقم باشد.",
                        view: "text",
                        label: "کد ملي",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: 'personNumber',
                        name: 'personNumber',
                        invalidMessage: "لطفا فقط عدد وارد کنيد.",
                        view: "text",
                        label: "کد پرسنلي",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: 'userGroup',
                        view: "select",
                        options: comboUserGroups,
                        label: "گروه کاربري",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100
                    },
                    {
                        id: "enabled",
                        view: "segmented",
                        width: 270,
                        align: "left",
                        options: [
                            {id: "1", value: "فعال"},
                            {id: "0", value: "غيرفعال"}
                        ]
                    },
                    {
                        id: "locked",
                        view: "segmented",
                        width: 270,
                        align: "left",
                        options: [
                            {id: "1", value: "قفل شده"},
                            {id: "0", value: "باز"}
                        ]
                    },
                    {
                        id: "password",
                        name: "password",
                        view: "text",
                        type: 'password',
                        value: null,
                        label: "رمز عبور جديد",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100

                    },
                    {
                        id: "re-password",
                        name: "re-password",
                        view: "text",
                        type: 'password',
                        value: null,
                        label: "تکرار رمز عبور جديد",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 100

                    },
                    {
                        inputWidth: 100,
                        view: "button",
                        type: "form",
                        value: "ثبت",
                        align: "left",
                        click: function () {
                            if (this.getParentView().validate()) {
                                var username = {name: "username", value: $$("username").getValue().trim()};
                                var firstName = {name: "firstName", value: $$("firstName").getValue().trim()};
                                var lastName = {name: "lastName", value: $$("lastName").getValue().trim()};
                                var nationalCode = {name: "nationalCode", value: $$("nationalCode").getValue().trim()};
                                var personNumber = {name: "personNumber", value: $$("personNumber").getValue().trim()};
                                var userGroup = {name: "userGroup", value: $$("userGroup").getValue().trim()};
                                var enabled = {name: "enabled", value: $$("enabled").getValue()};
                                var locked = {name: "locked", value: $$("locked").getValue()};
                                var password = {name: "password", value: $$("password").getValue().trim()};
                                var rePassword = {name: "re-password", value: $$("re-password").getValue().trim()};
                                var isNew = {name: "isNew", value: false};

                                if (password.value.length > 0) {
                                    if (password.value !== rePassword.value) {
                                        webix.alert("رمز عبور وارد شده با تکرار آن برابر نيست.");
                                        return;
                                    }
                                    if (!isGreaterThanOrEquals(password.value.length, sessionPasswordLength)) {
                                        webix.alert("رمز عبور بايد حداقل شامل " + sessionPasswordLength + " کاراکتر باشد.");
                                        return;
                                    }
                                    if (!passwordHasAcceptableComplexity(password.value)) {
                                        if (sessionPasswordComplexity === 1) {
                                            webix.alert("رمز عبور بايد حداقل شامل يک عدد باشد.");
                                        } else if (sessionPasswordComplexity === 2) {
                                            webix.alert("رمز عبور بايد حداقل شامل يک حرف بزرگ و يک حرف کوچک باشد.");
                                        } else if (sessionPasswordComplexity === 3) {
                                            webix.alert("رمز عبور بايد حداقل شامل يک حرف بزرگ، يک حرف کوچک و يک عدد باشد.");
                                        } else if (sessionPasswordComplexity === 4) {
                                            webix.alert("رمز عبور بايد حداقل شامل يک حرف بزرگ، يک حرف کوچک، يک عدد و يک علامت خاص باشد.");
                                        }
                                        return;
                                    }
                                }
                                webix.send("/base-info/user/save", [username, firstName, lastName, nationalCode, personNumber, userGroup, enabled, locked, password, rePassword, isNew], "POST", null);
                            } else {
                                webix.message({
                                    type: "error",
                                    text: "لطفا خطاهاي فرم را بررسي و مجددا اقدام فرماييد."
                                })
                            }
                        }
                    }
                ],
                rules: {
                    "username": webix.rules.isNotEmpty,
                    "firstName": webix.rules.isNotEmpty,
                    "lastName": webix.rules.isNotEmpty,
                    "nationalCode": function (value) {
                        return 11 > value.length
                    },
                    "personNumber": function (value) {
                        return !value || webix.rules.isNumber(value)
                    }
                }
            },
            {}

        ]
    });

webix.ui({
        id: "edit-user-group",
        container: "editUserGroupDialog",
        cols: [
            {
                view: "form",
                borderless: true,
                width: 400,
                elements: [
                    {template: "ويرايش گروه کاربري", type: "header"},
                    {
                        id:"userGroupId",
                        view: "text",
                        disabled:true

                    },
                    {
                        id: 'name',
                        name: 'name',
                        invalidMessage: "اين فيلد الزامي است.",
                        view: "text",
                        label: "نام گروه کاربري",
                        labelAlign: 'right',
                        textAlign: 'right',
                        labelWidth: 170
                    },
                    {
                        inputWidth: 170,
                        view: "button",
                        type: "form",
                        value: "ثبت",
                        align: "left",
                        click: function () {
                            if (this.getParentView().validate()) {
                                var userGroupId = {name: "userGroupId", value: $$("userGroupId").getValue().trim()};
                                var name = {name: "name", value: $$("name").getValue().trim()};
                                var isNew = {name: "isNew", value: false};


                                webix.send("/base-info/user/group/save", [name,userGroupId ,isNew], "POST", null);
                            } else {
                                webix.message({
                                    type: "error",
                                    text: "لطفا خطاهاي فرم را بررسي و مجددا اقدام فرماييد."
                                })
                            }
                        }
                    }
                ],
                rules: {
                    "name": webix.rules.isNotEmpty
                }
            },
            {}

        ]
    });

    var main_content = {
        gravity: 3,
        type: "clean",
        rows: [
            {
                body: {content: "message"}, height: 36
            },
            {
                view: "tabbar", multiview: true, selected: "view", options: [
                {id: "view", value: "مشاهده کاربران", width: 150},
                {id: "add", value: "افزودن کاربر", width: 150},
                {id: "addUserGroup", value: "افزودن گروه کاربري", width: 150},
            ]
            },
            {
                view: "multiview",
                cells: [
                    {
                        id: "view",
                        view: "datatable", select: true,
                        columns: [
                            {
                                id: "username",
                                header: ["نام کاربري", {
                                    content: "textFilter",
                                    compare: oneForAll,
                                    placeholder: "جستجو",
                                    colspan: 5
                                }],
                                sort: "int",
                                width: 100
                            },
                            {
                                id: "firstName",
                                view: "text",
                                header: ["نام", null],
                                labelAlign: 'right',
                                textAlign: 'right',
                                width: 150
                            },
                            {
                                id: "lastName",
                                view: "text",
                                header: ["نام خانوادگي", null],
                                labelAlign: 'right',
                                textAlign: 'right',
                                width: 150
                            },
                            {
                                id: "nationalCode",
                                view: "number",
                                header: ["کد ملي", null],
                                labelAlign: 'right',
                                textAlign: 'right',
                                fillspace: true
                            },
                            {
                                id: "personNumber",
                                view: "number",
                                header: ["شماره پرسنلي", null],
                                labelAlign: 'right',
                                textAlign: 'right',
                                width: 200
                            },
                            {
                                id: "enabled", header: ["فعال", null], format: activeFormat, width: 100
                            },
                            {
                                id: "locked", header: ["قفل شده", null], format: lockFormat, width: 100
                            },
                            {
                                id: "view_roles",
                                header: "نمايش دسترسي ها",
                                css: "webix_el_button",
                                width: 150,
                                template: "<span class='webix_icon fa-sticky-note has-cursor-pointer custom-blue view_roles'></span>"
                            },
                            {
                                id: "edit_user",
                                header: "ويرايش",
                                css: "webix_el_button",
                                width: 150,
                                template: "<span class='webix_icon fa-edit has-cursor-pointer green edit_user'></span>"
                            },
                            {
                                id: "remove",
                                header: "حذف",
                                css: "webix_el_button",
                                width: 100,
                                template: "<span class='webix_icon fa-close has-cursor-pointer red remove_user'></span>"
                            }
                        ],
                        data: [[${users}]],
                        onClick: {
                            "edit_user": function (e, id) {
                                var item = this.getItem(id);
                                $$("username").setValue(item.username);
                                $$("firstName").setValue(item.firstName);
                                $$("lastName").setValue(item.lastName);
                                $$("nationalCode").setValue(item.nationalCode);
                                $$("personNumber").setValue(item.personNumber);
                                $$("userGroup").setValue(item.userGroupId);
                                $$("password").setValue(null);
                                $$("enabled").setValue(item.enabled ? 1 : 0);
                                $$("locked").setValue(item.locked ? 1 : 0);
                                $("#editUserDialog").dialog("open");
                            },
                            "remove_user": function (e, id) {
                                var item = this.getItem(id);
                                var username = {name: "username", value: item.username};
                                webix.send("/base-info/user/remove", [username], "POST", null);
                                return false;
                            },
                            "view_roles": function (e, id) {
                                $("#viewRolesDialog").html("<div id='role-list'></div>");
                                var userRoles = [];
                                var item = this.getItem(id);
                                ajaxCall(
                                        "/base-info/user/roles",
                                        {userId: item.id},
                                        "GET",
                                        function (data) {
                                            userRoles = data.roles;
                                            var allRoles = [[${roles}]];
                                            var roles = [];
                                            allRoles.sort(function (a, b) {
                                                if (a.id == b.id) {
                                                    return 0;
                                                }
                                                return (a.id > b.id) ? 1 : -1;
                                            });
                                            $.each(allRoles, function (i, unitRole) {
                                                var userHasRole = 0;
                                                $.each(userRoles, function (i, itemRole) {
                                                    if (itemRole.id == unitRole.id) {
                                                        userHasRole = 1;
                                                    }
                                                });
                                                roles.push({
                                                    id: unitRole.id,
                                                    rank: i + 1,
                                                    label: unitRole.label,
                                                    markCheckbox: userHasRole
                                                })
                                            });
                                            webix.protoUI({
                                                name: "activeList"
                                            }, webix.ui.list, webix.ActiveContent);
                                            webix.ui({
                                                view: "activeList",
                                                container: "role-list",
                                                width: 300,
                                                height: 400,
                                                select: false,
                                                data: roles,
                                                activeContent: {
                                                    markCheckbox: {
                                                        view: "checkbox",
                                                        width: 50,
                                                        on: {
                                                            /*checkbox onChange handler*/
                                                            'onChange': function (newv, oldv, third) {
                                                                var item_id = this.config.$masterId;
                                                                ajaxCall(
                                                                        "/base-info/grant/role",
                                                                        {
                                                                            userId: item.id,
                                                                            roleId: item_id,
                                                                            grant: newv,
                                                                            _csrf: csrf_token
                                                                        },
                                                                        "POST",
                                                                        function (data) {
                                                                            webix.message("تغييرات با موفقيت ثبت شد.");
                                                                        },
                                                                        function (response) {
                                                                            webix.message("خطا در عمليات. لطفا صفحه را بازيابي و مجددا تلاش کنيد.")
                                                                        }
                                                                );
                                                            }
                                                        }
                                                    }
                                                },
                                                template: "<div class='item-text'>#rank#. #label# </div>" +
                                                "<div class='checkbox'>{common.markCheckbox()}</div>"
                                                ,
                                                type: {
                                                    height: 65
                                                }

                                            });

                                            $("#viewRolesDialog").dialog("open");
                                        },
                                        function (response) {
                                            webix.message("خطا در دريافت نقش هاي کاربر");
                                        }
                                );

                            }
                        }

                    },
                    {
                        id: "add",

                        cols: [
                            {
                                view: "form",
                                borderless: true,
                                width: 400,
                                elements: [
                                    {template: "افزودن کاربر", type: "header"},
                                    {
                                        id: 'username_new',
                                        name: 'username_new',
                                        invalidMessage: "اين فيلد الزامي است.",
                                        view: "text",
                                        label: "نام کاربري",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        id: 'firstName_new',
                                        name: 'firstName_new',
                                        invalidMessage: "اين فيلد الزامي است.",
                                        view: "text",
                                        label: "نام",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        id: 'lastName_new',
                                        name: 'lastName_new',
                                        invalidMessage: "اين فيلد الزامي است.",
                                        view: "text",
                                        label: "نام خانوادگي",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        id: 'nationalCode_new',
                                        name: 'nationalCode_new',
                                        invalidMessage: "اين فيلد الزامي است، تنها مقادير عددي ميپذيرد و  بايد حداکثر 10 رقم باشد.",
                                        view: "text",
                                        label: "کد ملي",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        id: 'personNumber_new',
                                        name: 'personNumber_new',
                                        invalidMessage: "لطفا فقط عدد وارد کنيد.",
                                        view: "text",
                                        label: "کد پرسنلي",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        id: 'userGroup_new',
                                        view: "select",
                                        options: comboUserGroups,
                                        label: "گروه کاربري",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        id: "enabled_new",
                                        view: "segmented",
                                        width: 270,
                                        align: "left",
                                        options: [
                                            {id: "1", value: "فعال"},
                                            {id: "0", value: "غيرفعال"}
                                        ]
                                    },
                                    {
                                        id: "locked_new",
                                        view: "segmented",
                                        width: 270,
                                        align: "left",
                                        options: [
                                            {id: "1", value: "قفل شده"},
                                            {id: "0", value: "باز"}
                                        ]
                                    },
                                    {
                                        id: "password_new",
                                        name: "password_new",
                                        view: "text",
                                        type: 'password',
                                        value: null,
                                        label: "رمز عبور جديد",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100

                                    },
                                    {
                                        id: "re-password_new",
                                        name: "re-password_new",
                                        view: "text",
                                        type: 'password',
                                        value: null,
                                        label: "تکرار رمز عبور جديد",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100

                                    },
                                    {
                                        inputWidth: 100,
                                        view: "button",
                                        type: "form",
                                        value: "ثبت",
                                        align: "left",
                                        click: function () {
                                            if (this.getParentView().validate()) {
                                                var username = {
                                                    name: "username",
                                                    value: $$("username_new").getValue().trim()
                                                };
                                                var firstName = {
                                                    name: "firstName",
                                                    value: $$("firstName_new").getValue().trim()
                                                };
                                                var lastName = {
                                                    name: "lastName",
                                                    value: $$("lastName_new").getValue().trim()
                                                };
                                                var nationalCode = {
                                                    name: "nationalCode",
                                                    value: $$("nationalCode_new").getValue().trim()
                                                };
                                                var personNumber = {
                                                    name: "personNumber",
                                                    value: $$("personNumber_new").getValue().trim()
                                                };
                                                var userGroup = {
                                                    name: "userGroup",
                                                    value: $$("userGroup_new").getValue().trim()
                                                };
                                                var enabled = {
                                                    name: "enabled",
                                                    value: $$("enabled_new").getValue().trim()
                                                };
                                                var locked = {
                                                    name: "locked",
                                                    value: $$("locked_new").getValue().trim()
                                                };
                                                var password = {
                                                    name: "password",
                                                    value: $$("password_new").getValue().trim()
                                                };
                                                var rePassword = {
                                                    name: "re-password",
                                                    value: $$("re-password_new").getValue().trim()
                                                };
                                                var isNew = {name: "isNew", value: true};

                                                if (password.value.length > 0) {
                                                    if (password.value !== rePassword.value) {
                                                        webix.alert("رمز عبور وارد شده با تکرار آن برابر نيست.");
                                                        return;
                                                    }
                                                    if (!isGreaterThanOrEquals(password.value.length, sessionPasswordLength)) {
                                                        webix.alert("رمز عبور بايد حداقل شامل " + sessionPasswordLength + " کاراکتر باشد.");
                                                        return;
                                                    }
                                                    if (!passwordHasAcceptableComplexity(password.value)) {
                                                        if (sessionPasswordComplexity === 1) {
                                                            webix.alert("رمز عبور بايد حداقل شامل يک عدد باشد.");
                                                        } else if (sessionPasswordComplexity === 2) {
                                                            webix.alert("رمز عبور بايد حداقل شامل يک حرف بزرگ و يک حرف کوچک باشد.");
                                                        } else if (sessionPasswordComplexity === 3) {
                                                            webix.alert("رمز عبور بايد حداقل شامل يک حرف بزرگ، يک حرف کوچک و يک عدد باشد.");
                                                        } else if (sessionPasswordComplexity === 4) {
                                                            webix.alert("رمز عبور بايد حداقل شامل يک حرف بزرگ، يک حرف کوچک، يک عدد و يک علامت خاص باشد.");
                                                        }
                                                        return;
                                                    }
                                                } else {
                                                    webix.message({
                                                        type: "error",
                                                        text: "لطفا خطاهاي فرم را بررسي و مجددا اقدام فرماييد."
                                                    })
                                                }
                                            }

                                            webix.send("/base-info/user/save", [username, firstName, lastName, nationalCode, personNumber, userGroup, enabled, locked, password, rePassword, isNew], "POST", null);
                                        }
                                    }
                                ],
                                rules: {
                                    "username_new": webix.rules.isNotEmpty,
                                    "firstName_new": webix.rules.isNotEmpty,
                                    "lastName_new": webix.rules.isNotEmpty,
                                    "nationalCode_new": function (value) {
                                        return value && value.length <= 10 && webix.rules.isNumber(value);
                                    },
                                    "personNumber_new": function (value) {
                                        return !value || webix.rules.isNumber(value);
                                    }
                                }
                            },
                            {}

                        ]
                    },
                    {
                        id: "addUserGroup",
                        rows: [
                            {
                                view: "form",
                                cols: [
                                    {
                                        type: "form",
                                        borderless: true,
                                        width: 600,
                                        rows: [
                                            {template: "افزودن گروه کاربري", type: "header"},
                                            {
                                                id: 'name_new',
                                                view: "text",
                                                label: "نام",
                                                labelAlign: 'right',
                                                textAlign: 'right',
                                                labelWidth: 100
                                            },
                                            {
                                                inputWidth: 100,
                                                view: "button",
                                                type: "form",
                                                value: "ثبت",
                                                align: "left",
                                                click: function () {
                                                    var name = {
                                                        name: "name",
                                                        value: $$("name_new").getValue().trim()
                                                    };
                                                    var isNew = {name: "isNew", value: true};
                                                    webix.send("/base-info/user/group/save", [name, isNew], "POST", null);
                                                }
                                            }
                                        ]
                                    },
                                    {}
                                ]
                            },
                            {
                                id: "view-groups",
                                view: "datatable", select: true,
                                columns: [
                                    {
                                        id: "name",
                                        header: "عنوان ",
                                        fillspace: true
                                    },
                                    {
                                        id: "edit",
                                        header: "ويرايش",
                                        css: "webix_el_button",
                                        width: 150,
                                        template: "<span class='webix_icon fa-edit has-cursor-pointer green editUserGroup'></span>"
                                    },
                                    {
                                        id: "remove",
                                        header: "حذف",
                                        css: "webix_el_button",
                                        width: 150,
                                        template: "<span class='webix_icon fa-close has-cursor-pointer red removeUserGroup'></span>"
                                    }
                                ],
                                data: [[${userGroups}]],
                                onClick: {
                                    "editUserGroup": function (e, id) {
                                        var item = this.getItem(id);
                                        $$("name").setValue(item.name);
                                        $$("userGroupId").setValue(item.id);
                                        $("#editUserGroupDialog").dialog("open");
                                    },
                                    "removeUserGroup": function (e, id) {
                                        var item = this.getItem(id);
                                        var userGroupId = {name: "id", value: item.id};
                                        webix.send("/base-info/user/group/delete", [userGroupId], "DELETE", null);
                                    }
                                }
                            }
                        ]
                    }
                ]
            }
        ]
    };
    /*]]>*/

    $("#editUserDialog").dialog({
        autoOpen: false,
        width: 500,
        modal: true
    });
    $("#editUserGroupDialog").dialog({
        autoOpen: false,
        width: 500,
        modal: true
    });
    $("#viewRolesDialog").dialog({
        autoOpen: false,
        width: 350,
        modal: true
    });
</script>
<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->
</body>
</html>