<!DOCTYPE html  >
<html th:dir="rtl" th:lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="partials/header :: head"></th:block> /*/-->
    <title>مديريت پديده هاي هواشناسي</title>
</head>
<body>
<div class="edit-weatherEvent-dialog" id="editWeatherEventDialog" style="display: none">
</div>
<div class="edit-weatherEvent-icon-dialog" id="editWeatherEventIconDialog" style="display: none">
    <form th:action="@{/base-info/phenomena/save-icon}" enctype="multipart/form-data" th:method="POST">
        <img id="current-icon" src=""/>
        <br/>
        <input type="file" name="file"/>
        <br/>
        <br/>
        <br/>
        <button class="webix_el_button" type="submit">
            ذخيره
        </button>
        <input type="hidden" name="id" id="current-id" value=""/>
    </form>
</div>
<div id="message">
    <span th:if="${successMessage != null}" th:text="${successMessage}" th:class="success-message"></span>
    <span th:if="${errorMessage != null}" th:text="${errorMessage}" th:class="error-message"></span>
</div>

<script th:inline="javascript">
    function equals(a, b) {
        if (!a || !b) return false;
        a = a.toString().toLowerCase();
        return a.indexOf(b) !== -1;
    }
    function oneForAll(value, filter, obj) {
        if (equals(obj.title, filter)) return true;
        if (equals(obj.abbreviation, filter)) return true;
        if (equals(obj.description, filter)) return true;
        return !!equals(obj.priority, filter);
    }


    webix.ui({
        id: "edit-weatherEvent",
        container: "editWeatherEventDialog",
        view: "form",

        width: 400,
        elements: [
            {template: "ويرايش مشخصات", type: "header"},
            {
                id: 'id', view: "text", disabled: true
            },
            {
                id: 'title',
                view: "text",
                label: "عنوان",
                labelAlign: 'right',
                textAlign: 'right',
                labelWidth: 100
            },
            {
                id: 'abbreviation',
                name: 'abbreviation',
                view: "text",
                invalidMessage: "نام اختصاري الزامي است و بايد بيشتر از يک حرف باشد.",
                label: "نام اختصاري",
                labelAlign: 'right',
                textAlign: 'right',
                labelWidth: 100
            },
            {
                id: 'description',
                name: 'description',
                invalidMessage: "توضيح الزامي است.",
                view: "text",
                label: "توضيح",
                labelAlign: 'right',
                textAlign: 'right',
                labelWidth: 100
            },
            {
                id: 'priority',
                name: 'priority',
                invalidMessage: "درجه اولويت بايد يک عدد باشد.",
                view: "text",
                label: "درجه اهميت",
                labelAlign: 'right',
                textAlign: 'right',
                labelWidth: 100
            },
            {
                inputWidth: 100,
                view: "button",
                type: "form",
                value: "ثبت",
                align: "left",
                click: function () {
                    if (this.getParentView().validate()) {
                    var id = {name: "id", value: $$("id").getValue().trim()};
                    var title = {name: "title", value: $$("title").getValue().trim()};
                    var abbreviation = {name: "abbreviation", value: $$("abbreviation").getValue().trim()};
                    var description = {name: "description", value: $$("description").getValue().trim()};
                    var priority = {name: "priority", value: $$("priority").getValue().trim()};
                    var isNew = {name: "isNew", value: false};
                    webix.send("/base-info/phenomena/save", [id, title, abbreviation, description, priority, isNew], "POST", null);
                    } else {
                        webix.message({
                            type: "error",
                            text: "لطفا خطاهاي فرم را بررسي و مجددا اقدام فرماييد."
                        })
                    }
                }
            }
        ],
        rules: {
            "abbreviation" : function(value) { return value.length > 1},
            "description" : function(value) { return value.length > 0},
            "priority" : function(value) { return webix.rules.isNumber(value)}
        }
    });
    /*<![CDATA[*/
    var main_content = {
        gravity: 3,
        type: "clean",
        rows: [
            {
                body: {content: "message"}, height: 36
            },
            {
                view: "tabbar", multiview: true, selected: "view", options: [
                {id: "view", value: "مشاهده پديده", width: 150},
                {id: "add", value: "افزودن", width: 150}
            ]
            },
            {
                view: "multiview",
                cells: [
                    {
                        id: "view",
                        view: "datatable", select: true,
                        columns: [
                            {
                                id: "title",
                                header: ["عنوان", {
                                    content: "textFilter",
                                    compare: oneForAll,
                                    placeholder: "جستجو",
                                    colspan: 3
                                }]
                            },
                            {
                                id: "abbreviation", header: ["نام اختصاري", null], width: 200
                            },
                            {
                                id: "description", header: ["توضيح", null], fillspace: true
                            },
                            {
                                id: "priority", header: "درجه اهميت", width: 200
                            },
//                            {
//                                id: "icon",
//                                header: "تصوير",
//                                template: "<a href='javascript:void(0)' class='remove_weatherEvent_icon'><img src='/base-info/phenomena/view-icon/#icon#'></a>",
//                                width: 200
//                            },
                            {
                                id: "edit",
                                header: "ويرايش",
                                css: "webix_el_button",
                                template: "<span class='webix_icon fa-edit has-cursor-pointer green edit_weatherEvent'></span>"
                            },
                            {
                                id: "remove",
                                header: "حذف",
                                css: "webix_el_button",
                                template: "<span class='webix_icon fa-close has-cursor-pointer red remove_weatherEvent'></span>"
                            }
                        ],
                        data: [[${weatherEvents}]],
                        onClick: {
                            "edit_weatherEvent": function (e, id) {
                                //[provinceCode, farsiName, name, stationId, stationNo, latitude, longitude, altitude, level, isNew]
                                var item = this.getItem(id);
                                $$("id").setValue(item.id);
                                $$("title").setValue(item.title);
                                $$("description").setValue(item.description);
                                $$("abbreviation").setValue(item.abbreviation);
                                $$("priority").setValue(item.priority);
                                $("#editWeatherEventDialog").dialog("open");
                            },
                            "remove_weatherEvent": function (e, id) {
                                var item = this.getItem(id);
                                var weatherEventId = {name: "id", value: item.id};
                                webix.send("/base-info/phenomena/remove", [weatherEventId], "POST", null);
                                return false;
                            },
                            "remove_weatherEvent_icon": function (e, id) {
                                var item = this.getItem(id);
                                $("#current-icon").attr("src", "/base-info/phenomena/view-icon/" + item.icon);
                                $("#current-id").val(item.id);
                                $("#editWeatherEventIconDialog").dialog("open");
                            }
                        }
                    },
                    {
                        id: "add",
                        cols: [
                            {
                                view: "form",
                                borderless: true,
                                width: 600,
                                elements: [
                                    {template: "افزودن پديده", type: "header"},
                                    {
                                        id: 'title_new',
                                        view: "text",
                                        label: "عنوان",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        id: 'abbreviation_new',
                                        name: 'abbreviation_new',
                                        view: "text",
                                        invalidMessage: "نام اختصاري الزامي است و بايد بيشتر از يک حرف باشد.",
                                        label: "نام اختصاري",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        id: 'description_new',
                                        name: 'description_new',
                                        invalidMessage: "توضيح الزامي است.",
                                        view: "text",
                                        label: "توضيح",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        id: 'priority_new',
                                        name: 'priority_new',
                                        invalidMessage: "درجه اولويت بايد يک عدد باشد.",
                                        view: "text",
                                        label: "درجه اهميت",
                                        labelAlign: 'right',
                                        textAlign: 'right',
                                        labelWidth: 100
                                    },
                                    {
                                        inputWidth: 100,
                                        view: "button",
                                        type: "form",
                                        value: "ثبت",
                                        align: "left",
                                        click: function () {
                                            if (this.getParentView().validate()) {
                                                var title = {
                                                    name: "title",
                                                    value: $$("title_new").getValue().trim()
                                                };
                                                var abbreviation = {
                                                    name: "abbreviation",
                                                    value: $$("abbreviation_new").getValue().trim()
                                                };
                                                var description = {
                                                    name: "description",
                                                    value: $$("description_new").getValue().trim()
                                                };
                                                var priority = {
                                                    name: "priority",
                                                    value: $$("priority_new").getValue().trim()
                                                };
                                                var isNew = {
                                                    name: "isNew",
                                                    value: true
                                                };
                                                webix.send("/base-info/phenomena/save", [title, abbreviation, description, priority, isNew], "POST", null);
                                            } else {
                                                webix.message({
                                                    type: "error",
                                                    text: "لطفا خطاهاي فرم را بررسي و مجددا اقدام فرماييد."
                                                })
                                            }
                                        }
                                    }
                                ],
                                rules: {
                                    "abbreviation_new": function (value) {
                                        return value.length > 1
                                    },
                                    "description_new": function (value) {
                                        return value.length > 0
                                    },
                                    "priority_new": function (value) {
                                        return webix.rules.isNotEmpty(value) && webix.rules.isNumber(value)
                                    }
                                }
                            },
                            {}

                        ]
                    }
                ]
            }
        ]
    };
    /*]]>*/

    $("#editWeatherEventDialog").dialog({
        autoOpen: false,
        width: 500,
        modal: true
    });
    $("#editWeatherEventIconDialog").dialog({
        autoOpen: false,
        width: 500,
        modal: true
    });
</script>
<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->
</body>
</html>