<!DOCTYPE html  >
<html th:dir="rtl" th:lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="partials/header :: head"></th:block> /*/-->
    <title>سامانه هواشناسي</title>
    <style>
        .webix_cell {
            direction: ltr;
        }
    </style>
</head>
<body>
<div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function getUsername(user) {
            return user.username;
        }

        function getPersianDate(date) {
            if (date) {
                var newPersianDate = persianDate(new Date(date)).pDate;
                return newPersianDate.year + "/" + newPersianDate.month + "/" + newPersianDate.date + "\t" + newPersianDate.hours + ":" + newPersianDate.minutes + ":" + newPersianDate.seconds;
            }
            return '';
        }

        var main_content =
        {
            rows: [
                {
                    body: {template: "<div style='text-align: center'><p>شما وارد سامانه اطلاعات پرواز شده اید.</p><p>کلیه فعالیت های شما ثبت و رهگیری میشود و مسئولیت کلیه فعالیت ها با شما است.</p></div>" , height : 100}
                },
                {
                    body: {template: "<div class='welcome-main-content'></div>" , height : 300}
                },
                {
                    rows: [
                        {
                            body: {template: "<div style='width: 100%'><span style='text-align: center'>اطلاعات ورود و خروج کاربر</span></div>"},
                            height: 25
                        },
                        {
                            cols: [
                                {
                                    id: "sessionGrid",
                                    view: "datatable",
                                    columns: [
                                        {id: "ip", header: "آدرس", fillspace: true},
                                        {id: "startDate", header: "ورود", fillspace: true, format: getPersianDate},
                                        {id: "endDate", header: "خروج", fillspace: true, format: getPersianDate}
                                    ],
                                    select: "row",
                                    tooltip: true,
                                    navigation: true,
                                    autowidth: false,
                                    autoheight: false,
                                    scroll: true,
                                    data: [[${userLastSessions}]]
                                }
                            ]
                        }
                    ]
                }
            ]
        };
        /*]]>*/
    </script>
</div>
<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->

</body>
</html>