<!DOCTYPE html  >
<html th:dir="rtl" th:lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="partials/header :: head"></th:block> /*/-->
    <title>سامانه هواشناسی</title>
</head>
<body>
<div>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var main_content =
        {
            body: {template: "<div class='welcome-main-content'></div>"}
        };
        /*]]>*/
    </script>
</div>
<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->

</body>
</html>