<!DOCTYPE html  >
<html th:dir="rtl" th:lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="partials/header :: head"></th:block> /*/-->
    <title>صفحه اصلي</title>
</head>
<body>
<div class="ui main container">
    <div>

    </div>

    <div id="html1" style="text-align: center">
        Power of HTML4
        <hr/>
        <img th:src="@{/images/jbosscorp_logo.png}"/>
    </div>
</div>
<script type="text/javascript" charset="utf-8">

    var html_content = {
        body: {content: "html1"}
    }
</script>
<!--/*/ <th:block th:include="partials/footer :: footer"></th:block> /*/-->
</body>
</html>